body {
  background-color: #F5F3F5;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #302B27;
}

li {
  float: left;
  color: white;
  padding: 5px;
}

a:hover {
  background-color: #556B2F;
  color: black;
}

footer {
  background-color: gray;
}
